<ion-view view-title="Approve Leaves">
<ion-nav-buttons side="right">
	<button class="button button-icon icon ion-funnel" ng-click="showFilters()"></button>
</ion-nav-buttons>
  	<ion-content>
  	<ion-refresher
	    pulling-text="Pull down to refresh..."
	    on-refresh="filteredLeaves.refresh()">
	</ion-refresher>
  	<h5 class="padding-vertical padding-horizontal balanced" ng-if="filteredLeaves.list.length == 0">
  		Hurray! No leaves for approval.
  	</h5>
    <div class="list card" ng-repeat="leave in filteredLeaves.list">

		<div class="item item-icon-left item-divider">
			<i ng-if="leave.isApproved && leave.isRevoked == false" class="icon ion-checkmark-round approved-color"> </i>
			<i ng-if="leave.isRejected && leave.isRevoked == false" class="icon ion-close-round rejected-color"> </i>
			<i ng-if="(leave.isRejected == false && leave.isApproved == false) || leave.isRevoked" class="icon ion-alert waiting-color"> </i>
			<h3 ng-if="leave.applicant != null">{{leave.applicant}}</h3>
			<h3 ng-if="leave.applicant == null">Nameless creature!</h3>
			<p ng-if="leave.isApproved && !leave.isRevoked">Approved by {{leave.inspectedBy}}</p>
			<p ng-if="leave.isRejected && !leave.isRevoked">Rejected by {{leave.inspectedBy}}</p>
			<p ng-if="leave.isRevoked">Revoked on {{leave.revokedOn | date:'mediumDate'}}</p>
			<p ng-if="leave.isRevoked == false && leave.isApproved == false && leave.isRejected == false">Waiting for inspection</p>
		</div>

		<div class="item item-body">
			<p style="font-family:sans-serif; font-size:smaller; margin-top:0px;" ng-if="leave.to != null">Leaves from {{leave.from | date:'mediumDate'}} to {{leave.to | date:'mediumDate'}}</p>
			<p style="font-family:sans-serif; font-size:smaller; margin-top:0px;" ng-if="leave.to == null">Leave on {{leave.from | date:'mediumDate'}}</p>
			<p>
				{{leave.reason}}
			</p>

			<div class="card-status-bar">
				<h4 class="balanced" style="margin-top:0; margin-bottom:0" >Applied on {{leave.createdOn | date:'mediumDate'}}</h4>
			</div>
		</div>
		<div class="button-bar">
		  	<button class="button button-clear button-energized underline" style="" ng-if="!leave.isApproved && !leave.isRevoked" ng-click="filteredLeaves.approve(leave)">Approve</button>
		  	<button class="button button-clear button-balanced" style="" ng-if="!leave.isApproved && leave.isRevoked" ng-disabled="true">Approve</button>
		  	<p class="button button-clear button-balanced button-small" style="max-height:70px" ng-if="leave.isApproved">Approved on </br>{{leave.inspectedOn | date:'mediumDate'}}</p>
		  	<button class="button button-clear button-assertive underline" style="" ng-if="!leave.isRejected && !leave.isRevoked" ng-click="filteredLeaves.reject(leave)">Reject</button>
		  	<button class="button button-clear button-assertive" style="" ng-if="!leave.isRejected && leave.isRevoked" ng-disabled="true">Reject</button>
		  	<p class="button button-clear button-assertive button-small" style="max-height:70px" ng-if="leave.isRejected">Rejected on </br>{{leave.inspectedOn | date:'mediumDate'}}</p>
	  	</div>
  	</div>
  	<ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="filteredLeaves.isInitialized && filteredLeaves.moreItemsAvailable">
	</ion-infinite-scroll>
  </ion-content>
</ion-view>