<div class="modal">
  <ion-header-bar>
    <h1 class="title">Forgot password</h1>
  </ion-header-bar>
  <ion-content>
    <script type="text/ng-template" id="error-messages">
      <div class="error-msg" ng-message="required">This field is required</div>
      <div class="error-msg" ng-message="email">Enter a valid email address</div>
    </script>
    <form name="passwordRetrievalForm" novalidate>
      <div class="list">
        <!-- Email -->
          <label class="item ">
            <input type="email" name="email" placeholder="Email" ng-model="forgotPwd.email" ng-required="true" />
            <div ng-messages="passwordRetrievalForm.email.$error" ng-show="passwordRetrievalForm.email.$touched" role="alert">
              <div ng-messages-include="error-messages"></div>
            </div>
          </label>

          <!-- Buttons -->
          <label class="item ">
            <button class="button button-block button-full button-balanced" ng-disabled="passwordRetrievalForm.$invalid" ng-click="requestPwdReset()">Help me reset</button>
          </label>

          <label class="item ">
            <button class="button button-block button-full button-balanced" ng-click="cancelPwdRequest()">Go back</button>
          </label>
      </div>
    </form>
  </ion-content>
</div>