<div class="modal">
  <ion-header-bar align-title="center" class="bar-energized">
    <button class="button button-icon ion-funnel"></button>
    <h1 class="title">Filters</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <!-- From date -->
        <label class="item ">
          <ionic-datepicker date="filterParams.from" min="minDate" max="maxDate" callback="filterParams.fromDateCallback">
            <center>From date</center>
            <button class="button button-block button-balanced rounded-corner"> {{ filterParams.from | date:'MMMM/dd/yyyy' }} </button>
        </ionic-datepicker>
        </label>

        <!-- To date -->
        <label class="item ">
          <ionic-datepicker date="filterParams.to" min="minDate" max="maxDate" callback="filterParams.toDateCallback">
            <center>To date</center>
            <button class="button button-block button-balanced rounded-corner"> {{ filterParams.to | date:'MMMM/dd/yyyy' }} </button>
        </ionic-datepicker>
        </label>
    </div>
    <div class="button-bar">
      <button class="button button-energized rounded-corner button-clear underline" ng-click="applyFilters()">Apply</button>
      <button class="button button-assertive rounded-corner button-clear underline" ng-click="cancelFilters()">Cancel</button>
    </div>
  </ion-content>
</div>