<ion-view view-title="Login">
  <ion-header-bar class="bar-energized item-icon-left">
    <i class="icon ion-log-in"> </i>
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
    <script type="text/ng-template" id="error-messages">
      <div class="error-msg" ng-message="required">This field is required</div>
    </script>
    <form name="loginForm" ng-submit="doLogin()" novalidate>
      <div class="list">
        <!-- Username -->
        <label class="item item-input" ng-class="{ 'has-errors' : loginForm.username.$touched && loginForm.username.$invalid }">
          <input type="text" name="username" placeholder="Username" ng-model="loginData.username" ng-minlength="loginData.minUsernameLength" ng-maxlength="loginData.maxUsernameLength" ng-required="true" />
        </label>
        <div ng-messages="loginForm.username.$error" ng-show="loginForm.username.$touched" role="alert">
          <div ng-messages-include="error-messages"></div>
          <div class="error-msg" ng-message="minlength, maxlength">Username should be {{loginData.minUsernameLength}} to {{loginData.maxUsernameLength}} chars wide</div>
        </div>

        <!-- Password -->
        <label class="item item-input" ng-class="{ 'has-errors' : loginForm.password.$touched && loginForm.password.$invalid }">
          <input type="password" name="password" placeholder="Password" ng-model="loginData.password" ng-minlength="loginData.minPasswordLength" ng-maxlength="loginData.maxPasswordLength" ng-required="true" />
        </label>
        <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched" role="alert">
          <div ng-messages-include="error-messages"></div>
          <div class="error-msg" ng-message="minlength, maxlength">Password should be {{loginData.minPasswordLength}} to {{loginData.maxPasswordLength}} chars wide</div>
        </div>

        <!-- Submit -->
        <label class="item">
          <button class="button button-block button-full button-energized rounded-corner" ng-disabled="loginForm.$invalid" type="submit">Log me in</button>
        </label>
      </div>
    </form>
    <div class="row">
      <div class="col col-50 buttons" style="text-align:center; width:50%;" >
        <a class="button button-clear button-large button-energized icon ion-person-add" ng-href="#/register"></a>
      </div>
      <div class="col col-50 buttons" style="text-align:center; width:50%;" ng-click="showPwdResetModal()">
        <button class="button button-clear button-large button-assertive icon ion-sad"></button>
      </div>
    </div>
    <div class="row">
      <div class="col col-50 balanced" style="text-align:center; width:50%;" ng-href="#/register">
        Register
      </div>
      <div class="col col-50 balanced" style="text-align:center; width:50%;" ng-click="showPwdResetModal()">
        Forgot</br>Password
      </div>
    </div>
  </ion-content>
</ion-view>
