<ion-view view-title="Registration">
  <ion-header-bar align-title="center" class="bar-energized">
    <button class="button button-icon ion-compose"></button>
    <h1 class="title">Registration</h1>
  </ion-header-bar>
  <ion-content>
  <script type="text/ng-template" id="error-messages">
	  <div class="error-msg" ng-message="required">This field is required</div>
	  <div class="error-msg" ng-message="email">Enter a valid email address</div>
	</script>
    <form name="registerForm" ng-submit="onRegister()" novalidate>
      <div class="list">
      	<!-- Username -->
        <label class="item item-input" ng-class="{ 'has-errors': registerForm.username.$touched && registerForm.username.$invalid}">
          <input type="text" name="username" placeholder="Username" ng-model="registerData.username" ng-minlength="registerData.minUsernameLength" ng-maxlength="registerData.maxUsernameLength" ng-required="true"/>
        </label>
        <div ng-messages="registerForm.username.$error" ng-show="registerForm.username.$touched" role="alert">
			    <div ng-messages-include="error-messages"></div>
			    <div class="error-msg" ng-message="minlength, maxlength">Username should be {{registerData.minUsernameLength}} to {{registerData.maxUsernameLength}} chars wide</div>
		 	  </div>

		 	  <!-- Email -->
        <label class="item item-input" ng-class="{ 'has-errors': registerForm.email.$touched && registerForm.email.$invalid}">
          <input type="email" name="email" placeholder="Email" ng-model="registerData.email" ng-required="true" />
        </label>
        <div ng-messages="registerForm.email.$error" ng-show="registerForm.email.$touched" role="alert">
			    <div ng-messages-include="error-messages"></div>
		 	  </div>

		 	  <!-- Password -->
        <label class="item item-input" ng-class="{ 'has-errors': registerForm.password.$touched && registerForm.password.$invalid}">
          <input type="password" name="password" placeholder="Password" ng-minlength="registerData.minPasswordLength" ng-maxlength="registerData.maxPasswordLength" ng-model="registerData.password" ng-required="true" />
        </label>
        <div ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched" role="alert">
        	<div ng-messages-include="error-messages"></div>
	  			<div class="error-msg" ng-message="minlength, maxlength">Password should be {{registerData.minPasswordLength}} to {{registerData.maxPasswordLength}} chars wide</div>
		 	  </div>

		 	  <!-- Confirm Password -->
        <label class="item item-input" ng-class="{ 'has-errors': registerForm.confPassword.$touched && (registerForm.password.$invalid || registerForm.password.$modelValue !== registerForm.confPassword.$modelValue)}">
          <input type="password" name="confPassword" placeholder="Confirm Password" ng-model="registerData.confirmPassword" ng-pattern="{{registerForm.password.$viewValue}}" ng-required="true" />
        </label>
        <div ng-messages="registerForm.confPassword.$error" ng-show="registerForm.confPassword.$touched" role="alert">
        	<div ng-messages-include="error-messages"></div>
        	<div class="error-msg" ng-message="pattern">Your passwords do not match</div>
		 	  </div>
        
        <!-- Submit -->
        <label class="item">
        	<button class="button button-block button-full button-balanced rounded-corner" ng-disabled="registerForm.$invalid" type="submit">Register</button>
        </label>
      </div>
    </form>
    <a class="button button-clear button-dark icon-left ion-android-walk" ng-href="#/login">I already have an account</a>
  </ion-content>
</ion-view>
