/* Empty. Add your own CSS if you like */

.has-errors {
    border-bottom: 2px solid #cc2511;
}
	
.error-msg {
    line-height: 1.7;
    margin-bottom: 14px;
    color: indianred;
}

.approved-color {
	color: seagreen;
}

.rejected-color {
	color: red;
}

.waiting-color {
	color: darkorange;
}

.card-status-bar {
	text-align: right;
}

.rounded-corner {
	border-radius: 5px;
}